/* Gallery styles */

#myGallery {
    /* CSS3 Box Shadow */
    -moz-box-shadow: 0 0 3px #AAAAAA;
    -webkit-box-shadow: 0 0 3px #AAAAAA;
    box-shadow: 0 0 3px #AAAAAA;
    /* CSS3 Rounded Corners */
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid white;
    /*    background: url(img/panel.jpg) repeat-x bottom center #ffffff;*/
    /* The width of the gallery */
    width: 920px;
    overflow: hidden;
}

#slides {
    /* This is the slide area */
    height: 400px;
    /* jQuery changes the width later on to the sum of the widths of all the slides. */
    width: 920px;
    overflow: hidden;
}

.sliding {
    float: left;
}

#menuForPic {
    /* This is the container for the thumbnails */
    /*    height: 75px;*/
    height: 100%;
}

.ul {
    margin: 0px;
    padding: 0px;
}

.li {
    /*    Every thumbnail is a li element */
    width: 60px;
    display: inline-block;
    list-style: none;
    height: 45px;
    overflow: hidden;
}

.fbar {
    /* The left-most vertical bar, next to the first thumbnail */
    width: 2px;
    /*    background: url(img/divider.png) no-repeat right;*/
}

.li a {
    display: block;
    /*    background: url(img/divider.png) no-repeat right;*/
    height: 35px;
    padding-top: 10px;
}