.hovered {
	cursor:move;
	color:green;
}

.delete {
	font-family: sans-serif;
	text-decoration: italic;
	font-size: 100%;
	color: #ccc;
	border: 1px dotted #aaa;
	margin-left: 1em;
	padding: 0 .3em;
}

.delete.hovered {
	cursor: pointer;
	color: #fcc;
}

.new {
	background-color: yellow;
}