body {
    background-image: url('');
    /*    http: //s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav a {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

p {
    margin: 0;
}

.row {
    margin: 0;
}

.articles {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article {
    color: #222;
    background: rgba(255, 255, 255, .9);
    border-spacing: 2px;
    border-color: grey;
    font-family: arial, sans-serif;
    border-bottom: 1px #e5e5e5 solid;
}

.current .item {
    background: rgba(265, 220, 206, .9);
}

.item {
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
}

.item .source {
    /* FLIGHT AQ Commercial Aviation */
    margin-left: 20px;
}

.item .title {
    /* Title on Description */
    font-weight: bold;
    color: #5a5a5a;
}

.item .pubdate {
    /* Date */
    margin-right: 20px;
}

.item .pubdate {
    text-align: right;
    font-weight: bold;
}

.description {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description h1 {
    margin-top: 0px;
    font-size: 23px;
}

.date {
    text-align: right;
    color: #5a5a5a;
    font-size: 15px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    position: relative;
}


/*#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}*/

#load {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
}


/*side Menu */

.myList {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 2px;
}

#html> ul:last-child,
#css > ul:last-child,
#bootstrap > ul:last-child,
#javaScript > ul:last-child,
#jQuery > ul:last-child,
#angularJs > ul:last-child,
#git > tbody:last-child {
    padding-bottom: 30px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: #2b2f3a;
}

ul {
    list-style-type: none;
}


/*table for Git*/

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: #f4f4f4;
}

table tr:hover td {
    color: #555;
}

table th,
table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

table th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table th.last {
    border-right: none;
}

#logo {
    display: block;
    height: 37px;
    overflow: hidden;
    position: relative;
    width: 95px;
}


/*Image Slider*/

.containerForSlider {
    max-width: 400px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.containerForSlider div {
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
}

.containerForSlider img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
}

.nextImage {
    right: 5px;
}

.prevImage {
    left: 5px;
}